.location-image {
    width: 100%;
    height: 280px;
    background-size: cover;
}

.w3-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid black;
}


#dialogContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    background-color: #0008;
}

#dialogContainer > div {
    display: block;
    margin: auto;
    float: unset !important;
    position: relative;
    top: 25%;
}